# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
example/android/
example/ios/
example/build/
example/linux/
example/macos/
example/windows/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Local tooling
.claude/
